
/*======= index.html =======*/
#page1 #header {height:531px; width:100%;}

#page1 #content .row-1 {padding:0px 0px 50px 0px;}
#page1 #content .row-1 .padding {padding:0 10px 0 30px;}

#page1 #content .boxes .col-1 {width:275px; margin-right:3px;}
#page1 #content .boxes .col-2 {width:223px; margin-right:3px;}
#page1 #content .boxes .col-3 {width:223px; margin-right:3px;}
#page1 #content .boxes .col-4 {width:223px;}

#page1 #content .row-1 .col-1 {width:244px; margin-right:48px;}
#page1 #content .row-1 .col-2 {width:626px;}

/*======= index-1.html =======*/
#page2 #content .row-1 {padding:8px 0px 50px 0px;}
#page2 #content .row-1 .padding {padding:0 10px 0 30px;}

#page2 #content .row-1 .col-1 {width:616px; margin-right:32px;}
#page2 #content .row-1 .col-2 {width:292px;}

#page2 #content .row-1 .col-1 .row-1 {padding:30px 0px 0px 0px;}

#page2 #content .row-1 .col-2 .row-1 {padding:0px 0px 40px 0px;}
#page2 #content .row-1 .col-2 .row-2 {padding:0px 20px 0px 20px;}

/*======= index-2.html =======*/
#page3 #content .row-1 {padding:0px 0px 35px 0px;}
#page3 #content .row-1 .padding {padding:0 10px 0 30px;}

#page3 #content .row-1 .col-1 {width:240px; margin-right:53px;}
#page3 #content .row-1 .col-2 {width:628px;}

#page3 #content .row-1 .col-1 .row-1 {padding:30px 0px 35px 0px;}

#page3 #content .row-1 .col-2 .row-1 {padding:30px 0px 35px 0px;}
#page3 #content .row-1 .col-2 .row-2 {padding:0px 0px 0px 0px;}

#page3 #content .row-2 {padding:0px 0px 40px 0px;}
#page3 #content .row-2 .padding {padding:0 10px 0 30px;}

#page3 #content .row-2 .col-1 {width:240px; margin-right:53px;}
#page3 #content .row-2 .col-2 {width:628px;}

#page3 #content .row-2 .col-1 .row-1 {padding:30px 0px 35px 0px;}

#page3 #content .row-2 .col-2 .row-1 {padding:30px 0px 35px 0px;}
#page3 #content .row-2 .col-2 .row-2 {padding:0px 0px 0px 0px;}

/*======= index-3.html =======*/
#page4 #content .row-1 {padding:8px 0px 50px 0px;}
#page4 #content .row-1 .padding {padding:0 10px 0 30px;}

#page4 #content .row-1 .col-1 {width:626px; margin-right:32px;}
#page4 #content .row-1 .col-2 {width:282px;}

#page4 #content .row-1 .col-1 .row-1 {padding:30px 0px 0px 0px;}

#page4 #content .row-1 .col-2 .row-1 {padding:30px 20px 40px 20px;}
#page4 #content .row-1 .col-2 .row-2 {padding:0px 20px 0px 20px;}

/*======= index-4.html =======*/
#page5 #content .row-1 {padding:8px 0px 50px 0px;}
#page5 #content .row-1 .padding {padding:0 10px 0 30px;}

#page5 #content .row-1 .col-1 {width:240px; margin-right:53px;}
#page5 #content .row-1 .col-2 {width:628px;}

#page5 #content .row-1 .col-1 .row-1 {padding:30px 0px 35px 0px;}

#page5 #content .row-1 .col-2 .row-1 {padding:30px 0px 35px 0px;}
#page5 #content .row-1 .col-2 .row-2 {padding:0px 0px 0px 0px;}

/*======= index-5.html =======*/
#page6 #content .boxes .col-1 {width:316px; margin-right:3px;}
#page6 #content .boxes .col-2 {width:223px; margin-right:3px;}
#page6 #content .boxes .col-3 {width:316px; margin-right:3px;}
#page6 #content .boxes .col-4 {width:316px;}


#page6 #content .row-1 {padding:0px 0px 35px 0px;}
#page6 #content .row-1 .padding {padding:0 10px 0 30px;}

#page6 #content .row-1 .col-1 {width:628px; margin-right:50px;}
#page6 #content .row-1 .col-2 {width:242px;}

#page6 #content .row-1 .col-1 .row-1 {padding:0px 0px 20px 0px;}

/*======= index-6.html =======*/
#page7 #content .padding {padding:40px 30px 50px 30px;}

/*======= index-7.html =======*/
#page9 #content .padding {padding:40px 30px 50px 30px;}



/*======= index-8.html =======*/
#page8 #content .row-1 {padding:8px 0px 50px 0px;}
#page8 #content .row-1 .padding {padding:0 10px 0 30px;}

#page8 #content .row-1 .col-1 {width:440px; margin-right:53px;}
#page8 #content .row-1 .col-2 {width:428px;}

#page8 #content .row-1 .col-1 .row-1 {padding:30px 0px 35px 0px;}

#page8 #content .row-1 .col-2 .row-1 {padding:30px 0px 35px 0px;}
#page8 #content .row-1 .col-2 .row-2 {padding:0px 0px 0px 0px;}







