<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="information@cosys.net">
                <network defaultCredentials="false" host="smtp.office365.com" password="Helpme3883" port="587" userName="information@cosys.net" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
